.App body{
  background-color: #282c34;

}
.App header {
  background-color: #24252b;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.397);
  font-size: calc(10px + 2vmin);
  color: white;
  align-items: center;
  padding:5px
}

.App a{
  text-decoration: none;
  color:white;
}
.App  header h1{
  font-weight: bold;
}
.App a:hover{
  text-decoration: none;
  color:rgb(150, 150, 150);
}

.App button{
  outline:none;
  color:white;
  background:none;
  border:none;
  font-size: calc(10px + 2vmin);
  height: 50px;
}

.App button:hover{
  color:rgb(150, 150, 150);
}
.App .idioma{
  align-items: center;
  margin-top: 50px;

}
.App .palabras{
  display: flex;
  align-items: center;
  border-radius: 5px;
  margin-bottom: 20px;
  background-color: #a0a0a06b;
}
.App select {
  background-color: white;
  border:none;
  border-radius: 5px;
  margin-right: 20px;
}
.App select:hover {
  background-color: rgb(216, 216, 216);
  border:none;
  border-radius: 5px;
}
.App input{
  margin-bottom: 20px;
  padding:10px;
  margin-bottom: 20px;
  border-radius: 4px;
  border: none;
  font-size: 14px;
}
.palabra{
  background-color: rgba(231, 231, 231, 0.233);
  padding:5px;
  border-radius: 5px;
}
.puntuacion{
  border-radius: 5px;
  text-align: center;
}
.puntuacionT{
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color:rgb(198, 142, 1);
  
  color:#282c34;
  padding-top:5px;
}
.puntuacion h3{
  font-weight: bold;
}
.puntuacion div:nth-of-type(2){
  font-size: 20px;
  background-color:rgb(217, 217, 217);
  color:black;
  padding:5px;
}
.stats{
  background-color:rgb(217, 217, 217);
  margin-top: 100px;
  color:#24252b;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}
.stats table{
  font-size: 20px;
}
.stats h3{
  background-color:rgb(198, 142, 1);
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  font-weight: bold;
  text-align: center;
  padding:5px;
}
