.App body{
  background-color: #282c34;

}
.App header {
  background-color: #24252b;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.397);
  font-size: calc(10px + 2vmin);
  color: white;
  display: flex;
  align-items: center;
}
.App header h1{
  width: 70%;
}

.App-header div{
  display: flex;
  
}
.App a{
  text-decoration: none;
  color:white;
}
.App a:hover{
  text-decoration: none;
  color:rgb(150, 150, 150);
}

.App button{
  outline:none;
  color:white;
  background:none;
  border:none;
  font-size: calc(8px + 2vmin);
}
.App button:hover{
  color:rgb(150, 150, 150);
}
.App main>div{
  width: 70vh;
  margin-left: 5vh;
}
.App main>div>div{
  display: flex;
  align-items: center;
  border-radius: 5px;
  margin-top: 50px;
  margin-bottom: 20px;
  background-color: #a0a0a06b;

}
.App main>div>div> h2{
  margin-left: 20px;
  margin-right: 20px;
}
.App main>div>div> h3{
  margin-right: 20px;
  
}
.App input{
  width: 50%;
  display: block;
  margin-bottom: 20px;
  padding:10px;
  margin-bottom: 20px;
  border-radius: 4px;
  border: none;
  font-size: 14px;
}
